<include file="Common:header"/>

	<body class="has_menu has_header">
		
		<div class="top_header">
			<h3>ETH/BTC <img src="__ROOT__/public/oxc/img/arr2.png"/></h3>
		</div>
		
		<div class="jy_switch">
			<table>
				<tr>
					<td class="on"><a href="javascript:;">买入</a></td>
					<td><a href="javascript:;">卖出</a></td>
					<td><a href="javascript:;">历史成交</a></td>
				</tr>
			</table>
		</div>
		
		<div class="jy_wrap clearfix">
			<div class="col-xs-6 lf">
				<p class="f1">限价单</p>
				
				<div class="inputbox">
					<table>
						<tr>
							<td width="20%"><a href="javascript:;">-</a></td>
							<td><input type="text" /></td>
							<td width="20%"><a href="javascript:;">+</a></td>
						</tr>
					</table>
				</div>
				
				<p class="f1">≈¥6.719</p>
				
				<div class="inputbox" style="margin-top: .2rem;">
					<table>
						<tr>
							<td width="20%"><a href="javascript:;">-</a></td>
							<td><input type="text" placeholder="数量(ETH)"/></td>
							<td width="20%"><a href="javascript:;">+</a></td>
						</tr>
					</table>
				</div>
				
				<div class="jy_btns">
					<table>
						<tr>
							<td class="on"><a href="javascript:;">25%</a></td>
							<td><a href="javascript:;">50%</a></td>
							<td><a href="javascript:;">75%</a></td>
							<td><a href="javascript:;">100%</a></td>
						</tr>
					</table>
				</div>
				
				<div class="inputbox2">
					<input type="text" placeholder="总额(BTC)"/>
				</div>
				
				<div class="jy_zj">
					<p>可用 <span>0BTC</span></p>
					<p>冻结 <span>0BTC</span></p>
				</div>
				
				<a href="" class="green_btn">买入</a>
				
				<div class="jy_info1">
					<span>买</span>
					<span>卖</span>
				</div>
				
				<img src="__ROOT__/public/oxc/img/zw1.jpg"/>
				
			</div>
			<div class="col-xs-6" style="padding-right: 0;padding-left: 0;">
				<table class="jy_date">
					<tr>
						<td>价格(BTC)</td>
						<td>数量(ETH)</td>
					</tr>
					<tr>
						<td class="red_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="red_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="red_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="red_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="red_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="red_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="red_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="gap green_font">
								0.03572499<br />
								<span>≈¥6.719</span>
							</div>
						</td>
					</tr>
					<tr>
						<td class="green_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="green_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="green_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="green_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="green_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="green_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
					<tr>
						<td class="green_font">0.03598029</td>
						<td>1.500000</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="gap_title1 gap_title3" style="margin-top: .2rem;">
			<img src="__ROOT__/public/oxc/img/newst_icon.jpg">最新成交
		</div>
		
		<div class="jy_date_list">
			<table>
				<thead>
					<tr>
						<td>时间</td>
						<td>数量</td>
						<td>价格</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>17:32:01</td>
						<td>4.05</td>
						<td class="red_font">0.03615525</td>
					</tr>
					<tr>
						<td>17:32:01</td>
						<td>4.05</td>
						<td class="green_font">0.03615525</td>
					</tr>
					<tr>
						<td>17:32:01</td>
						<td>4.05</td>
						<td>0.03615525</td>
					</tr>
					<tr>
						<td>17:32:01</td>
						<td>4.05</td>
						<td>0.03615525</td>
					</tr>
					<tr>
						<td>17:32:01</td>
						<td>4.05</td>
						<td>0.03615525</td>
					</tr>
					<tr>
						<td>17:32:01</td>
						<td>4.05</td>
						<td>0.03615525</td>
					</tr>
				</tbody>
			</table>
		</div>
		
<include file="Common:menu"/>
	</body>

<include file="Common:footer"/>
	<script type="text/javascript">
		
	</script>

</html>