<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no" />
		<title>index</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<link rel="stylesheet" type="text/css" href="css/media.css"/>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="swiper/4.1/swiper.min.css" />
		<script src="js/resize.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/function.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body class="has_menu has_header">
		
		<div class="top_header">
			<h3>ETH/BTC <img src="img/arr2.png"/></h3>
		</div>
		
		<div class="jy_switch">
			<table>
				<tr>
					<td><a href="javascript:;">买入</a></td>
					<td><a href="javascript:;">卖出</a></td>
					<td class="on"><a href="javascript:;">历史成交</a></td>
				</tr>
			</table>
		</div>
		
		<div class="empty">
			<img src="img/empty.jpg"/>
			<p>暂无数据</p>
		</div>
		
		
		<div class="bottom_menu">
			<table>
				<tr>
					<td>
						<i class="i1"></i>
						<p>首页</p>
					</td>
					<td class="on">
						<i class="i2"></i>
						<p>交易</p>
					</td>
					<td>
						<i class="i3"></i>
						<p>资金</p>
					</td>
					<td>
						<i class="i4"></i>
						<p>我的</p>
					</td>
				</tr>
			</table>
		</div>
	</body>

	<script src="js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="swiper/4.1/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		
	</script>

</html>