<!DOCTYPE html>
<html lang="zh-cn" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="favicon.ico">
    <title></title>

    <script src="__PUBLIC__/js/jquery-2.1.0.js"></script>
    <link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.min.css?v=4.0.0" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/001.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/UI2.css">
    <link rel="stylesheet" href="__PUBLIC__/css/users.css">
    <link rel="stylesheet" href="__PUBLIC__/css/my_css_jia.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/checkcss.css" />
    <!--<base target="_blank">-->
</head>
<script type="text/javascript">

</script>
<body>
<div class="panel admin-panel">
    <div class="panel-head">
        <i class="fa icon-reorder" style="font-size: 19px;"></i>
        <strong class="zijing">货币信息查看</strong>
    </div>
</div>
<div class="tabale_txjl" style="min-height: 470px">
    <table class="table text-center">
        <thead>
            <td>货币ID</td>
            <td>货币LOGO</td>
            <td>货币名称</td>
            <td>货币缩写</td>
            <td>货币类型</td>
            <td>发售价格</td>
            <td>当前价格</td>
            <td>总销量</td>
            <td>更新概率(%)</td>
            <td>上涨概率(%)</td>
            <td>开关</td>
            <td>修改</td>
        </thead>
        <tbody>
        <volist name="list" id="arr">
            <tr class="alls">
                <td>{$arr.id}</td>
                <td><img src="{$arr.img}" style="width: 80px" ></td>
                <td contenteditable="true">{$arr.name}</td>
                <td contenteditable="true">{$arr.keyname}</td>
                <td contenteditable="true">{$arr.types}</td>
                <td contenteditable="true">{$arr.money_start}</td>
                <td contenteditable="true">{$arr.money}</td>
                <td contenteditable="true">{$arr.sales_all}</td>
                <td contenteditable="true">{$arr.update_probability}</td>
                <td contenteditable="true">{$arr.up_probability}</td>
                <td>
                <if condition="$arr.states eq '1'">
                    <button type="button" class="btn btn-w-m btn-danger">关闭</button>
                    <else />
                    <button type="button" class="btn btn-w-m btn-primary">开启</button>
                </if>
                </td>
                <td><button type="button" class="btn btn-w-m btn-warning">修改</button></td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>

<input type="hidden" value="0" id="type" />
</body>

<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
<script src="__PUBLIC__/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/js/plugins/cropper/cropper.min.js"></script>
<script src="__PUBLIC__/js/demo/form-advanced-demo.min.js"></script>
<script>
    function replaceNotNumber(hehe) {
        var result = "";
        var timea =hehe.value;
        var bb = timea.replace(/:/g, "");
        for(var i = 0; i < bb.length; i++) {
            result += bb.charAt(i);
            if(i % 2 == 1) result += ':';
        }
        hehe.value =result.substring(0, 8);
    }

    $(window).load(function (){

        $("body").on("click",".btn-primary",function(){

            var td=$(this).parent();
            var id=$(this).parent().parent().children().eq(0).html();

            var arr={
                id:id,
                states:1
            };
            $.ajax({
                url:"upconfig", method: "post",
                async: "true", data:arr, timeout: 5000, dataType: "json",
                success: function (data){
                    var array = eval(data);
                    if (array['result'] == 1){
                        td.html('<button type="button" class="btn btn-w-m btn-danger">关闭</button>');
                    }
                }
            })


        })
        $("body").on("click",".btn-danger",function(){

            var td=$(this).parent();
            var id=$(this).parent().parent().children().eq(0).html();

            var arr={
                id:id,
                states:0
            };
            $.ajax({
                url:"upconfig", method: "post",
                async: "true", data:arr, timeout: 5000, dataType: "json",
                success: function (data){
                    var array = eval(data);
                    if (array['result'] == 1){
                        td.html('<button type="button" class="btn btn-w-m btn-primary">开启</button>');
                    }
                }
            })


        })
        $("body").on("click",".btn-warning",function(){

            var td=$(this).parent();
            var id=$(this).parent().parent().children().eq(0).html();
            var name=$(this).parent().parent().children().eq(2).html();
            var keyname=$(this).parent().parent().children().eq(3).html();
            var types=$(this).parent().parent().children().eq(4).html();
            var money_start=$(this).parent().parent().children().eq(5).html();
            //var money=$(this).parent().parent().children().eq(6).html();
            var update_probability=$(this).parent().parent().children().eq(8).html();
            var up_probability=$(this).parent().parent().children().eq(9).html();
            var sales_all=$(this).parent().parent().children().eq(7).html();


            var arr={
                id:id,
                name:name,
                keyname:keyname,
                types:types,
                //money:money,
                money_start:money_start,
                update_probability:update_probability,
                up_probability:up_probability,
                sales_all:sales_all,


            };
            $.ajax({
                url:"upconfig", method: "post",
                async: "true", data:arr, timeout: 5000, dataType: "json",
                success: function (data){
                    var array = eval(data);

                    if (array['result'] == 1) alert('修改成功!');
                }
            })


        })



    })




</script>
</html>