<div class="bottom_menu">
	<table>
		<tr>
			<td <if condition="ACTION_NAME eq index"> class="on"</if>>
				<a href="/home/Index/index">
					<i class="i1"></i>
					<p>首页</p>
				</a>
			</td>
			<td <if condition="ACTION_NAME eq buy"> class="on"</if>>
				<a href="/home/Index/buy">
					<i class="i2"></i>
					<p>交易</p>
				</a>
			</td>
			<td <if condition="ACTION_NAME eq property"> class="on"</if>>
				<a href="/home/Index/property">
					<i class="i3"></i>
					<p>资金</p>
				</a>
			</td>
			<td <if condition="ACTION_NAME eq wode"> class="on"</if>>
				<a href="/home/UserInfo/wode">
					<i class="i4"></i>
					<p>我的</p>
				</a>
			</td>
		</tr>
	</table>
</div>