<include file="Common:header"/>

    <body class="has_header">
        <div class="top_header">
            <a class="back"><img src="__ROOT__/Public/oxc/img/back_icon.jpg"/></a>
            <h3>关于我们</h3>
        </div>
        
        
        
        <div class="about_us">
            
            <div class="top_desc">
                BBD是一家全球区块链数字资产交易平台，注册于全球金融中心陆续上线更多优质币种，致力于成为区块链数字资产交易和服务的领先者和创新者。
            </div>
            
            <div class="title2">平台特点</div>
            
            <div class="about_item">
                <img src="__ROOT__/Public/oxc/img/icon1.png"/>
                <p class="p1">安全稳定</p>
                <p class="p2">区块链数据加密，动态身份验证，保障交易安全</p>
            </div>
            <div class="about_item">
                <img src="__ROOT__/Public/oxc/img/icon2.png"/>
                <p class="p1">专业团队</p>
                <p class="p2">汇聚区块链、互联网金融业内经营，共同打造一流平台</p>
            </div>
            <div class="about_item">
                <img src="__ROOT__/Public/oxc/img/icon3.png"/>
                <p class="p1">资源整合</p>
                <p class="p2">整合上下游资源，为投资者提供全方位服务</p>
            </div>
            
        </div>
        
        
    </body>

<include file="Common:footer"/>
    <script type="text/javascript">
        
    </script>

</html>