<include file="Common:header"/>

	<body class="has_menu">
		
		<div class="user_info">
			<img src="__ROOT__/Public/oxc/img/headimg.png"/>
			<p class="user_name">{$user}</p>
			<a href="/home/UserInfo/shezhi" class="set"></a>
		</div>
		
		<!-- <div class="user_list">
			<ul>
				<li>
					<table>
						<tr>
							<td><img src="__ROOT__/Public/oxc/img/user_icon_share.png"/></td>
							<td>分享APP</td>
							<td>去分享<img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li>
			</ul>
		</div> -->
		
		<div class="title_gap3">账号安全</div>
		
		<div class="user_list">
			<ul>
				<!-- <li>
					<table>
						<tr>
							<td><img src="__ROOT__/Public/oxc/img/user_icon_mail.png"/></td>
							<td>邮箱绑定</td>
							<td>未绑定<img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li>
				<li>
					<table>
						<tr>
							<td><img src="__ROOT__/Public/oxc/img/user_icon_phone.png"/></td>
							<td>手机绑定</td>
							<td>156****8460<img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li> -->
				<li>
					<table>
						<tr class="a_href" data-href="/home/UserInfo/renzheng">
							<td><img src="__ROOT__/Public/oxc/img/user_icon_aq.png"/></td>
							<td>身份认证</td>
							<td><img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li>
				<li>
					<table>
						<tr class="a_href" data-href="/home/UserInfo/editps">
							<td><img src="__ROOT__/Public/oxc/img/user_icon_phone.png"/></td>
							<td>修改密码</td>
							<td><img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li>
				<li>
					<table>
						<tr class="a_href" data-href="/home/UserInfo/moneypasz">
							<td><img src="__ROOT__/Public/oxc/img/user_icon_share.png"/></td>
							<td>资金修改密码</td>
							<td><img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li>
				<li>
					<table>
						<tr class="a_href" data-href="/home/UserInfo/xiaofei">
							<td><img src="__ROOT__/Public/oxc/img/user_icon_mail.png"/></td>
							<td>消费记录</td>
							<td><img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li>
				<li>
					<table>
						<tr class="a_href" data-href="/home/UserInfo/guanyu">
							<td><img src="__ROOT__/Public/oxc/img/user_icon_share.png"/></td>
							<td>关于我们</td>
							<td><img src="__ROOT__/Public/oxc/img/arr.png"/></td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		
<include file="Common:menu"/>
	</body>

<include file="Common:footer"/>
	<script type="text/javascript">
		
	</script>

</html>