.Statistics{width: 604px;margin-bottom: 0px;border: 1px solid black;height: 40px;margin-left: auto;margin-top: 10%}
#day,#month,#week{float: left;height: 40px;width: 200px;line-height: 30px}
/*#768797*/
font{color:#768797 }