<include file="Common:header"/>

<body class="has_menu has_header">
		
		<div class="top_header">
			<a class="back"><img src="__ROOT__/Public/oxc/img/back_icon.jpg"/></a>
			<h3>MANA / BTC</h3>
		</div>
		
		<div class="bit_info">
			<img src="img/list_logo.jpg"/>
			<p class="n1">MANA</p>
			<p class="n2">MANA</p>
		</div>
		
		<p class="desc2">
			基于以太坊区块链的基于以太坊区块链的基于以太坊区块链的基于以太坊区块链的基于以太坊区块链的
		</p>
		
		<div class="desc3">
			<p class="tl">信息披露</p>
			<ul>
				<li>发行时间: <span>2019-03-01</span></li>
				<li>发行总量: <span>9999999</span></li>
				<li>流通总量: <span>9999999</span></li>
				<li>众筹价格: <span>9999999</span></li>
				<li>白皮书: <span>http://kdakdjakldjlaskjd</span></li>
				<li>官网: <span>http://kdakdjakldjlaskjd</span></li>
				<li>区块查询: <span>http://kdakdjakldjlaskjd</span></li>
			</ul>
		</div>
		
	</body>

	<include file="Common:footer"/>
	<script type="text/javascript">
		$(".fssd a").click(function(){
			var this_index = $(this).index();
			$(".fssd_item .item").hide();
			$(".fssd_item .item").eq(this_index).show();
			
			$(".fssd a").removeClass('on');
			
			$(this).addClass('on');
			
		})
	</script>

</html>