<include file="Common:header"/>

	<body class="has_menu">
		
		<div class="zj_xq">
			<img src="__ROOT__/public/oxc/img/my_account_money_bg.jpg"/>
			<div class="zj_float">
				<div class="f1">总估值</div>
				<div class="f2">
					0 <span>CNY</span>
				</div>
			</div>
			<a href="" class="cj_record"></a>
		</div>
		
		
		<div class="gap_title2">
			总资产记录
			<div class="xz">
				<label><input type="checkbox" />隐藏0额比重</label>
			</div>
		</div>
		
		<div class="zc_list">
			<ul>
				<li>
					<table>
						<tr>
							<td><img src="__ROOT__/public/oxc/img/list_logo.jpg"/></td>
							<td>AGC</td>
							<td>
								0.00
								<br />
								<span>≈¥ 6.719</span>
							</td>
						</tr>
					</table>
				</li>
				<li>
					<table>
						<tr>
							<td><img src="__ROOT__/public/oxc/img/list_logo.jpg"/></td>
							<td>AGC</td>
							<td>
								0.00
								<br />
								<span>≈¥ 6.719</span>
							</td>
						</tr>
					</table>
				</li>
				<li>
					<table>
						<tr>
							<td><img src="__ROOT__/public/oxc/img/list_logo.jpg"/></td>
							<td>AGC</td>
							<td>
								0.00
								<br />
								<span>≈¥ 6.719</span>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		
		
<include file="Common:menu"/>
	</body>

<include file="Common:footer"/>
	<script type="text/javascript">
		
	</script>

</html>