<include file="Common:header"/>

	<body class="has_menu">
		
		<!--顶部轮播图-->
		<div class="index_banner">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide"><img src="__ROOT__/public/oxc/img/index_banner.jpg"/></div>
					<div class="swiper-slide"><img src="__ROOT__/public/oxc/img/index_banner.jpg"/></div>
					<div class="swiper-slide"><img src="__ROOT__/public/oxc/img/index_banner.jpg"/></div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		
		
		<div class="index_list">
			<div class="gap_title1">
				<img src="__ROOT__/public/oxc/img/icon1.jpg"/>市场涨幅榜
			</div>
			<ul>
				<li class="green">
					<table>
						<tr class="a_href" data-href="#">
							<td><img src="__ROOT__/public/oxc/img/list_logo.jpg"/></td>
							<td class="st1">
								PAX <span class="gray_font1">/ BTC</span><br />
								<span class="gray_font1">成交量 4475</span>
							</td>
							<td class="st2">
								<span class="green_font">0.00036812</span><br />
								<span class="gray_font1">≈¥ 6.7196</span>
							</td>
							<td class="st3">
								<div class="list_btn red">+39.02%</div>
							</td>
						</tr>
					</table>
				</li>
				<li class="red">
					<table>
						<tr class="a_href" data-href="#">
							<td><img src="__ROOT__/public/oxc/img/list_logo.jpg"/></td>
							<td class="st1">
								PAX <span class="gray_font1"> / BTC</span><br />
								<span class="gray_font1">成交量 4475</span>
							</td>
							<td class="st2">
								<span class="red_font">0.00036812</span><br />
								<span class="gray_font1">≈¥ 6.7196</span>
							</td>
							<td class="st3">
								<div class="list_btn">+39.02%</div>
							</td>
						</tr>
					</table>
				</li>
				<li class="">
					<table>
						<tr class="a_href" data-href="#">
							<td><img src="__ROOT__/public/oxc/img/list_logo.jpg"/></td>
							<td class="st1">
								PAX <span class="gray_font1"> / BTC</span><br />
								<span class="gray_font1">成交量 4475</span>
							</td>
							<td class="st2">
								<span class="red_font">0.00036812</span><br />
								<span class="gray_font1">≈¥ 6.7196</span>
							</td>
							<td class="st3">
								<div class="list_btn">+39.02%</div>
							</td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
		
<include file="Common:menu"/>
		

	</body>

<include file="Common:footer"/>
	<script type="text/javascript">
		
	</script>

</html>