<include file="Common:header"/>

	<body class="has_menu has_header">
		
		<div class="top_header">
			<a href="" class="back"><img src="__ROOT__/public/oxc/img/back_icon.jpg"/></a>
			<h3>登陆</h3>
			<a href="" class="right_icon zc">注册</a>
		</div>
		
		<div class="form_input " style="margin-top: .2rem;">
			<ul>
				<li>
					<p class="tl1">手机号码</p>
					<div class="inputbox">
						<input type="password" name="" id="" value="" placeholder="原密码"/>
					</div>
				</li>
				<li class="sp">
					<p class="tl1">短信验证码</p>
					<div class="inputbox">
						<input type="password" name="" id="" value="" placeholder="请输入短信验证码"/>
					</div>
					<a href="" class="blue_btn">获取验证码</a>
				</li>
				<li>
					<p class="tl1">新密码</p>
					<div class="inputbox">
						<input type="password" name="" id="" value="" placeholder="请输入新密码"/>
					</div>
				</li>
				<li>
					<p class="tl1">重复新密码</p>
					<div class="inputbox">
						<input type="password" name="" id="" value="" placeholder="再次输入新密码"/>
					</div>
				</li>
			</ul>
		</div>
		
		
		<a href="" class="blue_btn" style="margin-top: 1rem;">确定</a>
		
	</body>

<include file="Common:footer"/>
	<script type="text/javascript">
		
	</script>

</html>