<!DOCTYPE html>
<html lang="zh-cn" xmlns="http://www.w3.org/1999/html">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<title>H+ 后台主题UI框架 - 主页</title>
		<link rel="stylesheet" href="__PUBLIC__/css/UI1.css">
		<link rel="stylesheet" href="__PUBLIC__/css/UI2.css">
		<link rel="stylesheet" href="__PUBLIC__/css/pay.css">
		<link rel="stylesheet" href="__PUBLIC__/css/users.css">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="favicon.ico">
		<link href="__PUBLIC__/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
		<link href="__PUBLIC__/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
		<link href="__PUBLIC__/css/plugins/chosen/chosen.css" rel="stylesheet">
		<link href="__PUBLIC__/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/plugins/cropper/cropper.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
		<link href="__PUBLIC__/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
		<link href="__PUBLIC__/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
		<link href="__PUBLIC__/css/animate.min.css" rel="stylesheet">
		<link href="__PUBLIC__/css/style.min.css?v=4.0.0" rel="stylesheet">
		<link rel="stylesheet" href="__PUBLIC__/css/my_css_jia.css" />
		<link rel="stylesheet" href="__PUBLIC__/goo/goo.css" />
		<!-- <base target="_blank"> -->

	</head>

	<body>
    	<div class="panel admin-panel">
			<div class="panel-head">
				<i class="fa icon-reorder" style="font-size: 19px;"></i>
				<strong class="zijing" name="miao">彩种图片</strong>
			</div>
    	</div>
		<div class="tabale_txjl" style="min-height: 470px"  name="miaoo">
			<table class="table lo_sort lo_img">
				<thead>
					<td>对象名</td>
					<td>图片预览</td>
					<td>跳转地址</td>
					<td>图片地址</td>
					<td>状态</td>
					<td>修改按钮</td>

					<tbody>
						

					</tbody>

			</table>
		</div>

		<input type="hidden" value="0" id="type" />

		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<link rel="stylesheet" href="__PUBLIC__/css/001.css" />
		<script src="__PUBLIC__/js/jquery.min.js?v=2.1.4"></script>
		<script src="__PUBLIC__/js/bootstrap.min.js?v=3.3.5"></script>
		<script src="__PUBLIC__/js/content.min.js?v=1.0.0"></script>
		<script src="__PUBLIC__/js/plugins/chosen/chosen.jquery.js"></script>
		<script src="__PUBLIC__/js/plugins/datapicker/bootstrap-datepicker.js"></script>
		<script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
		<script src="__PUBLIC__/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
		<script src="__PUBLIC__/js/plugins/clockpicker/clockpicker.js"></script>
		<script src="__PUBLIC__/js/plugins/cropper/cropper.min.js"></script>
		<script src="__PUBLIC__/js/demo/form-advanced-demo.min.js"></script>
		<!-- // <script src="__PUBLIC__/js/with.js"></script> -->
		<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
		
		<script src="__PUBLIC__/js/my_js_jia.js"></script>

		<!-- // <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->
		<script src="__PUBLIC__/goo/goo.js"></script>
		<script type="text/javascript">
		//ajax地址
		var url = "config";

		//复制表格数据
		function tdshow(val){
		var tddd = "<td>"+val.obj+"</td>"+
					"<td><img style='width: 60px' src='"+val.img+"'></td>";

					if(val.types==1){
						tddd+="<td><input type='text' class='lo_sort_in pagenum' value='"+val.url+"' data-sortid='"+val.id+"'></td>";
					}else{
						tddd+="<td>无操作</td>";
					}

					tddd += "<td><input type='text' class='lo_sort_in pagenum' value='"+val.img+"' data-sortid='"+val.id+"'></td>";

					if(val.state==1){
						tddd+="<td><select name='state'><option value ='1' selected = 'selected'>已开启</option><option value ='0'>已关闭</option></select></td>";
					}else{
						tddd+="<td><select name='state'><option value ='1'>已开启</option><option value ='0'  selected = 'selected'>已关闭</option></select></td>";
					}

					tddd += "<td><button class='button border-blue'>图片修改</button></td>";

		return tddd;
		};


		//获取tr中的参数
		function ssc(a){

			var state = a.eq(4).children('select').eq(0).val();
			var url = '';
			var id = a.eq(3).children('input').attr('data-sortid');
			if(a.eq(2).text()!='无操作'){
				url = a.eq(2).children('input').val();
			}
			var img = a.eq(3).children('input').val();
			var bb = a.eq(0).text();

			// alert(a.eq(1).children('img').attr('src'));

			if(confirm('你确定要修改吗？')){
				dataa = {
					id:id,
					url:url,
					state:state,
					img:img
				};
				a.eq(1).children('img').attr('src',img);
			}else{
				dataa = {
					id:'',
					img:''
				};

			}
			return dataa;

		}

		function sco(){

		}


		</script>

	</body>

</html>